@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    background-color: $color-bg;
    color: $color-text;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

input,
textarea {
    font-family: inherit;
}